<p class="client-name">
  <strong>{{ client.name }}</strong>
</p>
<p>
  Salário: {{ client.salary | currency : 'BRL' : 'symbol' : '1.2-2' : 'pt-BR' }}
</p>
<p>
  Empresa:
  {{
    client.companyValuation | currency : 'BRL' : 'symbol' : '1.2-2' : 'pt-BR'
  }}
</p>
<div class="actions">
  <app-teddy-button apparence="icon"
    ><img src="plus.png" alt="Selecionar"
  /></app-teddy-button>
  <app-teddy-button apparence="icon" (click)="handleEditClient()"
    ><img src="pencil.png" alt="Editar"
  /></app-teddy-button>
  <app-teddy-button apparence="icon"
    ><img src="trash.png" alt="Excluir"
  /></app-teddy-button>
</div>
