<div class="page-header">
  <p><strong>16</strong> clientes encontrados:</p>
  <div class="per-page-select">
    <p>Clientes por página:</p>
    <select
      name="per-page"
      class="form-select"
      aria-label="Default select example"
    >
      <option selected>10 por página</option>
      <option value="20">20 por página</option>
      <option value="50">50 por página</option>
    </select>
  </div>
</div>
<div class="clients-list">
  @if(!loading){ @for (client of clients$ | async; track client.id) {
  <app-client-card [client]="client"></app-client-card>
  } } @else {
  <div class="loading">
    <p>Carregando clientes...</p>
  </div>
  }
</div>
<div class="clients-footer">
  <lib-teddy-button
    [fill]="true"
    size="small"
    apparence="outline"
    (click)="handleOpenCreateForm()"
    >Criar cliente</lib-teddy-button
  >
  <div class="pagination-content">
    <!-- Botão de voltar -->
    <lib-teddy-button
      size="small"
      apparence="outline"
      [disabled]="currentPage === 1"
      (click)="goToPreviousPage()"
    >
      ← Anterior
    </lib-teddy-button>

    <!-- Páginas -->
    <div class="pagination-pages">
      @for (page of getVisiblePages(); track page) { @if (page === 0) {
      <span class="pagination-dots">...</span>
      } @else {
      <lib-teddy-button
        size="small"
        [apparence]="currentPage === page ? 'normal' : 'outline'"
        [class.current-page]="currentPage === page"
        (click)="goToPage(page)"
      >
        {{ page }}
      </lib-teddy-button>
      } }
    </div>

    <!-- Botão de avançar -->
    <lib-teddy-button
      size="small"
      apparence="outline"
      [disabled]="currentPage === totalPages"
      (click)="goToNextPage()"
    >
      Próxima →
    </lib-teddy-button>
  </div>
</div>
