<div class="page-header">
  <p><strong>{{(clients$ | async)?.length}}</strong> clientes encontrados:</p>
  <div class="per-page-select">
    <p>Clientes por página:</p>
    <select
      name="per-page"
      class="form-select"
      aria-label="Default select example"
      [(ngModel)]="itemsPerPage"
      (change)="handleLoadClient()"
    >
      <option value="4">4 por página</option>
      <option value="8">8 por página</option>
      <option value="16" selected>16 por página</option>
      <option value="24">24 por página</option>
    </select>
  </div>
</div>
<lib-clients-list [clients]="(clients$ | async) || []" [loading]="loading" (reloadData)="handleLoadClient()"></lib-clients-list>
<div class="clients-footer">
  <lib-teddy-button
    [fill]="true"
    size="small"
    apparence="outline"
    (click)="handleOpenCreateForm()"
    >Criar cliente</lib-teddy-button
  >
  @if(totalPages > 1){
  <div class="pagination-content">
    <div class="pagination-pages">
      @for (page of getVisiblePages(); track page) { @if (page === 0) {
      <span class="pagination-dots">...</span>
      } @else {
      <lib-teddy-button
        size="small"
        [apparence]="currentPage === page ? 'normal' : 'ghost'"
        [class.current-page]="currentPage === page"
        (click)="goToPage(page)"
      >
        {{ page }}
      </lib-teddy-button>
      } }
    </div>
  </div>
  }
</div>
