<div class="left-content">
  <img class="menu" src="menu.png" alt="Teddy Logoo" />
  <img class="logo" src="LogoTeddy.png" alt="Teddy Logo" />
</div>
<div class="navigation-menu">
  <div class="item" [class.current]="currentRouter == '/clients'" (click)="router.navigate(['/clients'])" ><a>Clientes</a></div>
  <div class="item" [class.current]="currentRouter == '/selected-clients'" (click)="router.navigate(['/selected-clients'])"><a>Clientes selecionados</a></div>
  <div class="item">
    <a
      tabindex="0"
      (click)="handleLogout()"
      (keydown.enter)="handleLogout()"
      (keydown.space)="handleLogout()"
      >Sair</a
    >
  </div>
</div>
<div class="right-content">
  <p>
    Olá <strong>{{ userName$ | async }}</strong
    >!
  </p>
</div>
